.header {
    background: #707070;
      grid-area: header;
  }
  .header img{  
    width: 140px;
  }
  .loginBlock{
    float: right;
    margin: 10px;
    margin-right: 30px;
  }
.loginBlock a{
    color: white;
  }