.navBar  {
  background: #363535;
	grid-area: nav; 
  color: darkseagreen;
}
 /* a.navItem {
  color:black;
}  */
.navBar{
  color: darkseagreen;
}  
.navItem { /* Add 'a' for chango color*/
  color: rgb(233, 113, 0);
  text-decoration: none;
}  
.navItem_test a {
  color:rgb(70, 96, 214);
} 
.navItem.active {
  color: red;
}