h2 {
    padding: 0px 20px 0px 20px;
    color: #363535;
    margin: 5px;

}
.decriptionBlock {
    padding: 10px;
}
.decriptionBlock div{
    padding: 5px;
}
img {
    padding: 0;
}
.mainImgBlock img{
    width: 890px;
    padding: 0;
}
.profileName{
    color: #105041;
    font-weight: bold;
    font-size: 20px;
}
.status{
    padding: 5px;
    border-bottom: #363535;
    border-bottom-style: solid;
    margin-bottom: 10px;
}