
.body {
    background-color: violet; /*???*/
}

.appWrapper {
    display: grid;
    width: 1000px;
    margin: 0 auto;
    grid-template-areas:
    "header header "
    "nav mainContent ";
    /* "footer footer footer"; */
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 10fr;
    grid-gap: 5px;
    /* height: 100vh; */
    /* margin: 10px;   */
}

.img {
    width: 120px;
}

/*??????????? dont work whith all*/

.header {
  background: #707070;
  grid-area: header;
}


.app-wrapper-content {
  background: #ABABAB;
  grid-area: mainContent;
  color: darkblue;
}